* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

@font-face {
  font-family: "holden_trialfat";
  src: url("./assets/fonts/holden-fat-trial-webfont.woff2") format("woff2"),
    url("./assets/fonts/holden-fat-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "holden_triallight_italic";
  src: url("./assets/fonts/holden-light-italic-trial-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/holden-light-italic-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "holden_trialmedium";
  src: url("./assets/fonts/holden-medium-trial-webfont.woff2") format("woff2"),
    url("./assets/fonts/holden-medium-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*Frameworked css*/
button {
  padding: 11px 15px;
  border: 1px solid black;
  border-radius: 4px;
  color: tomato;
  background-color: rgb(red, green, blue);
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

input {
  padding: 10px 15px;
  height: 2rem;
  width: 15rem;
  border-radius: 4px;
  border: 2px solid black;
  margin: 10px;
}

.bold-text {
  font-size: 46px;
  font-weight: 500;
}

.button {
  background-color: gray;
}

.padding-top-3 {
  padding-top: 30px;
}

.padding-bottom-3 {
  padding-bottom: 30px;
}

.padding-right-3 {
  padding-right: 20px;
}

.txt-align-center {
  text-align: center;
}

.sign-in--icon {
  width: 3rem;
  height: 3rem;
}

.image {
  width: 100%;
}

/*Pages CSS*/
.search-area {
  background: url("./assets/jpg/lukas-blazek-f-TWhXOrLiU-unsplash.jpg")
    no-repeat;
  background-size: cover;
  height: 100vh;
}

.sign--container {
  display: flex;
}
.info--container {
  display: flex;
  flex-direction: column;
  border: 1px solid tomato;
  border-radius: 4px;
  text-align: center;
  padding: 15px 0;
  background: url("./assets/jpg/hermes-rivera-Ww8eQWjMJWk-unsplash.jpg")
    no-repeat;
  background-size: cover;
  justify-content: center;
  margin-left: 30px;
}

.credentials--container {
  display: flex;
  flex-direction: column;
}

.sign-in form {
  margin: auto;
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .search-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .area-text {
    margin-bottom: 20px;
    text-align: center;
  }

  .form-search-area {
    text-align: center;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
    width: 100%;
  }
  .menu-options {
    display: flex;
  }
  .menu-options p {
    padding-right: 30px;
  }
  .sign--container {
    display: flex;
    flex-direction: column;
  }
  .credentials--container {
    width: 100%;
  }
  .info--container {
    display: none;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  .search-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .area-text {
    margin-bottom: 20px;
    text-align: center;
  }

  .form-search-area {
    text-align: center;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
  }
  .menu-options {
    display: flex;
  }
  .menu-options p {
    padding-right: 30px;
  }

  .info--container,
  .credentials--container {
    width: 50%;
  }
}

/* Extra big screen devices (1000px and above) */
@media only screen and (min-width: 1000px) {
}
