* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

body {
  background-color: #f7f7f7;
}

/*Frameworked css*/
button {
  padding: 15px 15px;
  border: 1px solid black;
  border-radius: 4px;
  color: tomato;
  background-color: rgb(red, green, blue);
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.button--logout {
  background-color: black;
}

select {
  padding: 15px 15px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgb(red, green, blue);
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

input {
  padding: 10px 15px;
  height: 2rem;
  width: 15rem;
  border-radius: 4px;
  border: 2px solid black;
}

.input-disabled {
  color: tomato;
}

.bold-text {
  font-size: 46px;
  font-weight: 500;
}

.button {
  background-color: gray;
}

.padding-2 {
  padding: 20px;
}

.padding-top-1 {
  padding-top: 10px;
}

.padding-top-3 {
  padding-top: 30px;
}

.padding-bottom-3 {
  padding-bottom: 30px;
}

.padding-right-3 {
  padding-right: 20px;
}

.margin-top-3 {
  margin-top: 30px;
}

.txt-align-center {
  text-align: center;
}

.sign-in--icon {
  width: 3rem;
  height: 3rem;
}

.pointer {
  cursor: pointer;
}

.container {
  width: 90%;
  margin: auto;
}

.card {
  border: 1px solid black;
  border-radius: 4px;
}

.logout {
  float: right;
}

/*Pages CSS*/
.logo {
  width: 250px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner--container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #00cc66 transparent #00cc66 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: white;
}

.logo-navbar {
  height: 20px;
}

.logo--settings {
  width: 100%;
}

.search-area {
  background: url("./assets/jpg/lukas-blazek-f-TWhXOrLiU-unsplash.jpg")
    no-repeat;
  background-size: cover;
  height: 100vh;
}

.sign--container {
  display: flex;
  width: 100%;
}

.info--container {
  display: flex;
  flex-direction: column;
  border: 1px solid tomato;
  border-radius: 4px;
  text-align: center;
  padding: 15px 0;
  background: url("./assets/jpg/hermes-rivera-Ww8eQWjMJWk-unsplash.jpg")
    no-repeat;
  background-size: cover;
  justify-content: center;
  margin: 15px;
  background-color: transparent;
}

.credentials--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-in form {
  margin: auto;
}

.forgot-password {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sign-in,
.forgot-password,
.sign-up,
.search-area,
.sign-up-companies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile--container {
  margin: 30px;
}

.options--profile {
  display: flex;
  justify-content: space-between;
}

.change-details {
  display: flex;
  background-color: aquamarine;
  height: 30px;
  width: 100%;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  padding: 10px;
}
.sign-up-companies {
  height: 100vh;
}
.companies--container--img {
  background: url("./assets/jpg/brooke-lark-4J059aGa5s4-unsplash.jpg") no-repeat;
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .search-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .area-text {
    margin-bottom: 20px;
    text-align: center;
  }

  .form-search-area {
    text-align: center;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
    width: 100%;
  }
  .menu-options {
    display: flex;
  }
  .menu-options p {
    padding-right: 30px;
  }
  .sign--container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .credentials--container {
    width: 100%;
  }
  .info--container {
    display: none;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  .search-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .area-text {
    margin-bottom: 20px;
    text-align: center;
  }

  .form-search-area {
    text-align: center;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
  }
  .menu-options {
    display: flex;
  }
  .menu-options p {
    padding-right: 30px;
  }

  .info--container,
  .credentials--container {
    width: 50%;
  }
}

/* Extra big screen devices (1000px and above) */
@media only screen and (min-width: 1000px) {
}
